* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: #e6dfdf;
}

/* Heading Start */

#header {
    width: auto;
    background: white;
    border: 1px solid rgb(138, 176, 245);
    margin-bottom: 1em;
    padding: 1em;
    display: block;
}

#header h1 {
    font-size: xx-large;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

#header h2 {
    font-size: large;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    color: grey;
}

/* Heading End */

/* Username Start */

#text-section {
    width: auto;
    background: white;
    border: 1px solid rgb(138, 176, 245);
    margin-bottom: 1em;
    padding: 0.8em;
    text-align: left;
}

#delete-username {
    display: block;
    margin-top: 0.4em;
}

#submission-box {
    margin-top: 1em;
    display: inline;
}

.has-username {
    display: inline;
}

.no-username {
    display: none;
}

#username-entry h3 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

#input-error {
    margin: 0.1em;
}

.input-status-error {
    color: red;
}

.input-status-good {
    color: green;
}

#username-value {
    font-weight: bold;
}

/* Username End */

/* Leaderboard Position Start */

#leaderboard-position {
    margin-left: 1em;
}

/* Leaderboard Position End */

/* Table Start */

tr th, tr td {
    width: fit-content;
    padding: 1em;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

#levels-table {
    position: relative;
    width: 100%;
    background: white;
    border: 1px solid rgb(138, 176, 245);
    overflow-x: scroll;
    box-shadow: inset -1em 0 1em -1.2em grey;
}

#levels-table table {
    position: relative;
    width: 100%;
    overflow-x: scroll;
}

#levels-table h3 {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0em);
    margin-left: 1em;
    margin-bottom: 0;
    margin-top: 0.5em;
    text-align: center;
}

.status-urgent {
    background: rgb(241, 139, 144);
}

.status-over {
    color: grey;
}

/* Table End */

#page {
    margin: auto;
    width: 50%;
    padding: 10px;
}

@media (max-width: 700px) {
    #page {
        width: 98%;
        padding: 2px;
    }
}

/* Button */

#go-home, #give-up {
    background: rgb(238, 160, 160);
    /* margin-top: 1em; */
    font-weight: bold;
    border-radius: 5em;
    padding: 0.5em;
    cursor: pointer;
}

#go-home:hover, #give-up:hover {
    background: rgb(233, 151, 151);
}

p {
    line-height: 200%;
}